<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href ="picnic.css">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" href ="style.css">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/oxygen-sans-kde" type="text/css"/>
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/fanwood" type="text/css"/>
    </head>
    <body>
    {{ content }}
    </body>
</html>
